<div class="container-fluid">
  <div class="app-container welcome">
    <div class="card">
        <div class="col-md-8 col-xs-12">
          <div class="box">
          {{#if hasSession}}   
            <div>You are logged in!</div>  
          {{else}}   
            <div>You are not logged in</div>  
          {{/if}}
        </div>
      </div>
    </div>

    <div class="card">
      <h2 class="typography-h2">Other User Interface Screens</h2>
      <div class="row">
        {{#if (not hasSession)}}
        {{> ui_screen_button testId="login" link="login" label="Sign In"}}
        {{> ui_screen_button testId="sign-up" link="registration" label="Sign Up"}}
        {{> ui_screen_button testId="recover-account" link="recovery" label="Recover Account"}}
        {{else}}
        {{> ui_screen_button testId="backoffice" href="https://backoffice.fiveten.tech/" label="Backoffice"}}
        {{#if isOverlord}}
        {{> ui_screen_button testId="userAdmin" href=oryAdminUrl label="User Admin"}}
        {{/if}}
        {{> ui_screen_button testId="account-settings" link="settings" label="Account Settings" }}
        {{> ui_screen_button testId="logout" href=logoutUrl label="Logout" }}
        {{/if}}
        {{#if hasAddressToVerify}}
        {{> ui_screen_button testId="verify-account" link="verification" label="Verify Account"}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
